body, html {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60px;
}

.nav-tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

nav {
    width: 100%;
}
