body, html {
    background-color: #564963;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60px;
}

.nav-tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

nav {
    width: 100%;
}
.content-container {
    margin: 50px 100px 50px 100px; /* Top, Right, Bottom, Left margins */
    padding: 20px;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.div-content {
    text-align: justify;
    line-height: 1.6;
    color: #F39C12;
    margin-bottom: 20px; /* Space between the child divs */
    padding: 15px; /* Padding inside each child div */
    background-color: #444444; /* Different background for the child div */
    border-radius: 5px
}
